Chapter8/part8_3/checkpoints/ckpt_ep1300.pth
Chapter8/part8_4/checkpoints/ckpt_ep1350.pth
Chapter8/part_rainbowdqn/checkpoints/rainbow_best.pt
Chapter8/part_rainbowdqn/checkpoints/rainbow_step_200000.pt